@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: "Poppins";
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  /* or 34px */

  color: #434343;
  margin: 18px 0;
}

/* Header */
.header {
  background-color: #0f345e;
  color: #ffffff;
  padding: 20px 0 0 0;
}

.logo-brand {
  background-color: #ffffff;
  padding: 2.5%;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 0;
  z-index: 10;
}

.logo-brand img {
  width: 89px;
  height: 117px;
}

.menu-header {
  display: flex;
  justify-content: flex-end;
}

.menu-header p {
  /* margin-right: 32px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.menu-header p:nth-child(1) {
  margin-right: 32px;
}

.m-header {
  margin-right: 12px;
}

/* navbar */
.navbar {
  background-color: #1089c0;
  padding: 16px 0;
}

.nav-link {
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-right: 8px;
}

.nav-link:hover {
  color: #ffa110;
}

.navbar-nav .btn-outline-light {
  margin-left: 64px;
  margin-right: 16px;
}

.btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 12px 54px;
}

.btn-primary {
  background-color: #ffa110 !important;
  border: none;
}

/* jumbotron */
.jumbotron {
  width: 100%;
  height: 715px;
  border-radius: 0 0 0 170px;
  background: linear-gradient(
      180deg,
      #0f345e 0%,
      rgba(15, 52, 94, 0.762499) 45.19%,
      rgba(15, 52, 94, 0.385545) 76.64%,
      rgba(15, 52, 94, 0) 105.34%
    ),
    url(../img/images/h3.png), #ffffff;
  background-size: cover;
  /* background-image: url("../img/images/unsplash_1-aA2Fadydc.png"); */
}

.text-lg-jumbo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 146px;
  text-align: left;
  letter-spacing: 1px;
}

.text-sm-jumbo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 68px;
}

.btn-jumbo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  padding: 15px 25px;
}

.register img {
  display: flex;
  flex-direction: row;
  margin: auto 0;
  width: 57px;
  height: 57px;
}

.register a {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 1.6%;
  line-height: 36px;
  margin: auto 0;
  padding: 0 5%;
  font-weight: 600;
}

.rating {
  margin-top: 8.3%;
}

.rating i {
  font-size: 20px;
  color: #ffa110;
  margin: auto 2px;
}

.photo-hero {
  top: 51%;
  right: 0;
  position: absolute;
}

.photo-hero img {
  right: 0;
  position: absolute;
  width: 100%;
  height: 630px;
}

.rating p {
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

.rating .value-rating {
  display: inline-block;
  font-size: 28px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

/* Brand */

#brand {
  margin-top: 20%;
}

#brand hr {
  color: #ffca1d;
  width: 7%;
  border: 6px solid #ffca1d;
  border-radius: 10px;
  opacity: 1;
}

#brand h3 {
  font-size: 28px;
  font-weight: bold;
  color: #0f345e;
}

#brand img {
  margin: auto 0;
}

/* Content Creator */

#content-creator {
  margin-top: 10%;
}

#content-creator .creator {
  margin: auto 0;
}

#content-creator .creator span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: #ffca1d;
  z-index: -1;
  margin: auto;
}

#content-creator h3 {
  font-size: 34px;
  margin: 0 0 5% 2%;
  font-weight: bold;
  color: #0f345e;
}

.creator > p {
  font-size: 20px;
}

#content-creator .check-creator {
  margin: 25px 0px;
}

#content-creator .check-creator img {
  display: inline-block;
  margin: 1% 0;
}

#content-creator .check-creator p {
  display: inline-block;
  margin: auto 2%;
}

/* amd academy */

#amd-academy {
  margin-top: 16%;
  width: 100%;
  height: 380px;
  background-image: url("../img/images/btm-testimonial.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#amd-academy h1 {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  margin: 8% 0;
}

#amd-academy span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  background-color: #ffca1d;
  z-index: 1;
}

#icon-amd {
  margin: -100px 0px 86px 0px;
}

/* Study */

#study h3 {
  font-size: 34px;
  margin: 0 0 5% 0;
  font-weight: bold;
  color: #0f345e;
}

#study span {
  height: 30px;
  width: 30px;
  margin: 0 0 0 -1%;
  border-radius: 50%;
  position: absolute;
  background-color: #ffca1d;
  z-index: -1;
}

#study > p {
  font-size: 16px;
  margin: 0 0 5% 0;
  color: #434343;
  font-family: "Poppins";
}

#study .card-section {
  background-image: url("../img/images/bg-study.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 58rem;
}

#study .card-one {
  margin: 8% 0 10% 0;
}

#study .card {
  width: 64%;
  height: 100%;
  margin: 6% auto;
  border-radius: 8px 64px 8px 8px;
  box-shadow: 6px 10px 12px 4px rgba(84, 83, 83, 0.09);
  border: none;
}

#study .card .card-image {
  padding: 6% 0 0 4%;
}

#study .card img {
  width: 58px;
  height: 41px;
}

#study .card h5 {
  font-weight: bold;
  margin: 8% 0;
}

#study .card p {
  font-size: 16px;
  color: #434343;
  font-family: "Poppins";
}

/* Testimonial */

#testimonial h3 {
  font-size: 34px;
  margin: 0 0 5% 0;
  font-weight: bold;
  color: #0f345e;
  margin-top: 10%;
}

#testimonial span {
  height: 30px;
  width: 30px;
  margin: 2.5% 0 0 2%;
  border-radius: 50%;
  position: absolute;
  background-color: #ffca1d;
  z-index: -1;
}

#bg {
  margin-top: 64px;
  height: 250px;
}

#register {
  position: relative;
  height: 700px;
  z-index: -2;
  background-color: #0f345e;
}

#register h3 {
  font-size: 34px;
  margin: 0 0 5% 0;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10%;
}

#register span {
  height: 30px;
  width: 30px;
  margin: 8% 0 0 30%;
  border-radius: 50%;
  position: absolute;
  background-color: #ffca1d;
  z-index: -1;
}

#register p {
  margin: 0 0 5% 0;
  color: #db9931;
  margin-top: 10%;
}

#register h6 {
  font-size: 24px;
  margin: 0 0 5% 0;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10%;
}

/* pricing */
.sec-reg {
  background-color: #0f345e;
  padding-top: 76px;
  padding-bottom: 236px;
}

.title-reg {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  text-align: center;

  color: #db9931;

  margin-bottom: 20px;
}

.detail-reg {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  /* identical to box height, or 48px */

  text-align: center;

  color: #ffffff;
}

.sec-detail-reg {
  margin-top: 100px;
}

.card-price {
  padding: 55px 70px 87px 70px !important;
  background: #ffffff;
  /* Card2 */

  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.type-pricing {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  /* identical to box height, or 48px */

  color: #0f345e;
}

.price-pricing {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */

  text-align: center;

  color: #434343;
  margin-top: 32px;
}

.border-price {
  border: 3px solid rgba(0, 0, 0, 0.15);
  margin-top: 16px;
  margin-bottom: 32px;
}

.benefit-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}

.detail-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  color: #000000;
}

.sec-card-pricing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 100px;
  margin-top: -120px;
  margin-top: -25%;
}

.text-user-pricing {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  color: rgba(67, 67, 67, 0.6);
}

/* faq */
#faq h3 {
  font-size: 34px;
  margin: 5%;
  font-weight: bold;
  color: #0f345e;
}

#faq span {
  height: 30px;
  width: 30px;
  margin: 8% 0 0 30%;
  border-radius: 50%;
  position: absolute;
  background-color: #ffca1d;
  z-index: -1;
}

/* konsultasi */
.sec-konsultasi {
  margin-top: 32px;
}

#konsultasi h3 {
  font-size: 34px;
  font-weight: bold;
  color: #0f345e;
}

.content-konsultasi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.desc-konsultasi {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 36px */

  color: #434343;

  opacity: 0.6;
  margin: 32px 0 48px 0;
}

/* footer */
.sec-footer {
  background-color: #0f345e;
  padding: 80px 0 44px 0 !important;
}

.title-footer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  color: #ffffff;
}

.border-footer {
  border-top: 1px solid #ffffff;
  margin-top: 32px;
  margin-bottom: 64px;
}

.desc-footer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
  margin-top: 40px;
}

.sec-link-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.link-footer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
  text-decoration: none;
}

.title-link-footer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
  text-decoration: none;
}

#footer p {
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
  text-decoration: none;
  margin-top: 5%;
}
